@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(57, 93, 252);
    font-family: 'Noto Sans Mono', monospace;
    font-size: 15px;
}

header {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    color: white;
    text-align: center;
}

section {
    background: white;
    width: 500px;
    margin: auto;
    padding: 15px;
    border-radius: 10px;
    box-shadow:  3px  3px 10px rgba(0, 0, 0, 0.363);
}

div {
    text-align: center;
    padding: 8px;
}

footer {
    color: white;
    text-align: end;
    font-style: italic;
    margin-top: 250px;
    margin-right: 20px;
    
}


@media screen and (max-width: 550px){
        section {
            width: 400px;
            
        }
}

@media screen and (max-width: 480px) {
    section {
        width: 340px;
    }
}

@media screen and (max-width: 375px) {
    section {
        width: 320px;
    }
}